.App {
  text-align: center;
  font-family: Arial, Arial, Helvetica, sans-serif, 
  padding-top 20px ;
  box-sizing: border-box;
  font-size: small;
  color: rgb(141, 141, 219);
  /* background-color: black; */
  background-image: url("./assets/money_graph.jpg");
  background-size: cover;
}